---

import fetchMeta from 'fetch-meta-tags';

interface Props {
    title: string;
    image: string;
    url: string;
    description: string;
}
const { title, image, url, description } = Astro.props;

const result = await fetchMeta(url)
---
<div class="mb-10">
    <a id="url" href={url} class="no-underline mx-4 my-4 not-prose text-inherit flex gap-10 border-[1px] px-8 py-4 border-[var(--sl-color-gray-6)]">
        <img class="md:block hidden drop-shadow-md object-contain w-32 rounded-lg" src={image} alt="bookcover"/>
        <div class="prose gap-y-0.5 overflow-hidden flex flex-col">
            <strong class="">{title}</strong>
            <div className="">
                <p className="truncate line-clamp-[3]">
                    {description}
                </p>
            </div>
            <div class="flex items-center gap-2 w-fit">
                <div class="mb-5 h-4 underline text-sm">{result.url}</div>
            </div>
        </div>
    </a>
</div>
